---
layout: home
logo_variant: white
---
<div class="h-screen w-full flex flex-col space-y-16">
  <div class="max-h-1/2 w-full bg-bulma-green">
    <header>
      {% include main-nav.html %}
    </header>
    <div class="flex flex-col justify-center items-center h-full">
      <h1 class="sr-only">ActiveInteractor</h1>
      <img src="/assets/images/logo_white.png" alt="ActiveInteractor"/>
    </div>
  </div>
  <main class="max-w-[1344px] mx-auto my-[16px] flex flex-col space-y-8 prose-a:text-bulma-green">
    <div class="block flex flex-col space-y-4">
      <p>
        ActiveInteractor is an implementation of the <a href="https://en.wikipedia.org/wiki/Command_pattern" target="_blank">command pattern</a> for Ruby with <a href="https://api.rubyonrails.org/classes/ActiveModel/Validations.html" target="_blank">ActiveModel::Validations</a>
        inspired by the <a href="https://github.com/collectiveidea/interactor" target="_blank">interactor gem</a>. Rich support for attributes, callbacks, and validations, and thread safe performance methods.
      </p>
      <p>
        Reduce controller bloat with procedural service objects.
      </p>
    </div>
    {% divider %}
    <div class="block flex flex-col space-y-4">
      <!-- <h2 class="text-2xl font-bold">Features</h2> -->
      {% heading Features | size: 2 %}
      <ul class="list-disc">
        {% for feature in site.data.features %}
          {% if feature.href %}
          <li>
            <a href="{{ feature.href }}">{{ feature.text }}</a>
          </li>
          {% else %}
          <li>{{ feature.text }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% divider %}
    <div class="block flex flex-col space-y-4">
      {% heading Install | size: 2 %}
      <p>
        Add this line to your application's Gemfile:

        {% highlight ruby %}gem 'activeinteractor'{% endhighlight %}
      </p>
      <p>
        Or install it yourself as:

        <figure class="highlight">
          <pre><span class="n">gem install activeinteractor</span></pre>
        </figure>
      </p>
    </div>
    {% divider %}
    <div class="block flex flex-col space-y-4">
      {% heading License | size: 2 %}
      <p>The gem is available as open source under the terms of the <a href="https://opensource.org/license/mit/">MIT License</a>.</p>
    </div>
  </main>
  {% include footer.html %}
</div>
